<div class="board">
  <van-tabs>
    <van-tab title="游戏规则">
      <div class="rules-wrapper">
        <p>开心 666 是一场实时直播答题活动。</p>
        <p>答题结束后分数前三名可以分得本场奖金。</p>
        <p>每场活动 10 题，每题 3 个选项。从中选择你认为正确的唯一选项。</p>
        <p>每题答题时间只有 10 秒。答题越快分数越高。</p>
        <p>奖项设置：</p>
        <p>第一名：300 元</p>
        <p>第二名：200 元</p>
        <p>第三名：100 元</p>
        <p>第四名到第十名，主持人会现场组建小群发 66 元红包。</p>
      </div>
    </van-tab>
    <van-tab title="实时排行榜">
      <rank></rank>
    </van-tab>
  </van-tabs>

  <comment></comment>
</div>
