<div class="rank-list">
  <h1>排行榜 | Ranking</h1>
  <div class="rank-top">
    <div v-for="(rank, index) in topRanks" class="top-item">
      <text-avatar class="icon" :data="getIcon(rank.username, index, true, {
        border: topColors[index],
        boxShadow: topColors[index],
        type: index,
      })"></text-avatar>
      <div :style="`color: ${topNameColors[index]};`" class="username">
        {{ (index + 1) + '. ' + rank.username }}<br/>
        <span style="font-size: 25px;">
          {{ rank.total_score }}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="rank-container">
    <div class="rank" v-for="(rank, index) in otherRanks">
      <div class="rank-left">
        <text-avatar class="icon" :data="getIcon(rank.username, index)"></text-avatar>
      </div>
      <div class="rank-right">
        <div class="name">{{ (index + 4) + '. ' + rank.username }}</div>
        <div class="score">{{ rank.total_score }}</div>
      </div>
    </div>
  </div>
</div>
