.rank-list h1 {
  text-align: center;
  color: #3e3636;
  font-size: 21px;
}
.rank-top {
  .top-item {
    width: calc(100% / 3);
    display: inline-block;
    &:nth-child(1) {
      transform: translate(100%);
    }
    &:nth-child(2) {
      transform: translate(-100%) scale(0.7);
    }
    &:nth-child(3) {
      transform: scale(0.7);
    }
    .username {
      text-align: center;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  margin-bottom: 20px;
}
hr {
  transform: scale(0.9);
  border-bottom: none;
  border-color: rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.rank-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 20px;
  .rank {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    // box-sizing: border-box;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
      transform: translate(15px, -22px);
      text-align: right;
      .rank-right {
        padding-right: 45px;
        transform: translate(40px, 0);
        background:-webkit-gradient(linear, 100% 0%, 20% 0%,from(#c6f1ff), to(#ffffff));
      }
    }
    &:nth-child(2n) {
      flex-direction: row;
      transform: translate(-15px, 22px);
      text-align: left;
      .rank-right {
        padding-left: 45px;
        transform: translate(-40px, 0);
        background:-webkit-gradient(linear, 20% 0%, 100% 0%,from(#c6f1ff), to(#ffffff));
      }
    }
    .icon {
      width: 80px;
      height: 80px;
    }
    &-left {
      z-index: 10;
    }
    &-right {
      display: flex;
      width: 80%;
      flex-direction: column;
      justify-content: center;
      height: 65px;
      margin-top: 7.5px;
      .name {
        color: #888888;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .score {
        color: #05A4D8;
        font-size: 16px;
      }
    }
  }
}
