.van-popup {
  width: 80%;
  // min-height: 60%;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  color: #555555;
  .countdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
    background-color: #fff;
    font-size: 30px;
  }
  .question {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: calc(100% - 80px);
    color: #606060;
    .title {
      font-size: 18px;
      word-break: break-all;
      padding-bottom: 10px;
    }
    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-basis: 40px;
      flex-grow: 1;
      text-align: center;
      border: 1px solid;
      border-radius: 100vh;
      transition: all .1s linear;
      .button__bg,
      &.choice .button__bg,
      &.show-answer.bingo .button__bg,
      &.show-answer.error .button__bg {
        border-radius: 100vh;
        border: 1px solid;
        border-color: #777777;
      }
      &.choice {
        color: #fff;
        .button__bg {
          border-color: #05A4D8;
          background-color: #05A4D8;
        }
      }
      &.show-answer.bingo {
        color: #fff;
        border-color: #22c36a;
        background-color: #22c36a;
      }
      &.show-answer.error {
        color: #fff;
        .button__bg {
          border-color: #f1483f;
          background-color: #f1483f;
        }
      }
    }
  }
}
