.van-popup {
  width: 80%;
  // min-height: 60%;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  color: #555555;
  .countdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(173,181,189);
    background-color: #fff;
    font-size: 30px;
    svg {
      transform: rotate(-0.05deg);
    }
    circle {
      transition: stroke-dasharray .25s;
    }
    .sec {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(134,142,150);
    }
  }
  .question {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: calc(100% - 80px);
    color: #606060;
    .title {
      font-size: 18px;
      word-break: break-all;
      padding-bottom: 10px;
    }
    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-basis: 40px;
      flex-grow: 1;
      text-align: center;
      border: 1px solid;
      border-radius: 100vh;
      transition: all .1s linear;
      &.choice {
        color: #fff;
        border-color: rgb(77,171,247);
        background-color: rgb(77,171,247);
      }
      &.show-answer.bingo {
        color: #fff;
        border-color: rgb(105,219,124);
        background-color: rgb(105,219,124);
      }
      &.show-answer.error {
        color: #fff;
        border-color: rgb(255,135,135);
        background-color: rgb(255,135,135);
      }
    }
  }
}
